<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'enrol/css/bootstrap.css' %}">

    {% block csss %}

    {% endblock csss %}

    <title>
        {% block title %}
            other
        {% endblock title %}
    </title>

</head>
<body>
    <div class="container mt-5 ">
    {% block content %} {% endblock content %}
    </div>
</body>
    <script src="{% static 'enrol/js/jquery.js' %}"></script>
    <script src="{% static 'enrol/js/popper.js' %}"></script>
    <script src="{% static 'enrol/js/bootstrap.js' %}"></script>
</html>